<h2 class="heading center"><%= @team.fetch("name") %></h2>

<div class="row center">
  <div class="col s6 m4 l4">
    <p>League</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("league_name") %></p>
    </div>
  </div>
  <div class="col s6 m4 l4">
    <p>Current Season</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("season_name") %></p>
    </div>
  </div>
  <div class="col s6 m4 l4">
    <p>Division</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("division_name") %></p>
    </div>
  </div>
</div>
<div class="row center">
  <div class="col offset-s1 s10">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Members</h4></li>
      <% @members.each do |member| %>
        <li class="collection-item"> <%= member.fetch("first_name") %> <%= member.fetch("last_name") %> </li>
      <% end %>
    </ul>
  </div>
</div>
