<h2 class="heading center"><%= @team.fetch("name") %></h2>

<div class="row center">
  <div class="col s6 m4 l4">
    <p>League</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("league_name") %></p>
    </div>
  </div>
  <div class="col s6 m4 l4">
    <p>Current Season</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("season_name") %></p>
    </div>
  </div>
  <div class="col s6 m4 l4">
    <p>Division</p>
    <div class="card red darken-2 white-text">
      <p><%=@team.fetch("division_name") %></p>
    </div>
  </div>
  <div class="col s12">
    <a href="<%=@team.fetch("league_url") %>">
    <div class="card red darken-2 white-text hoverable-link">
      <p>Visit the <%=@team.fetch("league_name") %> Homepage</p>
    </div>
    </a>
  </div>
  <div class="col s12">
    <%= link_to members_path do %>
    <div class="card red darken-2 white-text hoverable-link">
      <p>View Our Roster</p>
    </div>
    <% end %>
  </div>
</div>
