<!DOCTYPE html>
<html>
<head>
  <title>Teamsnap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>
  <div class="container">
    <div class="flash" onclick="$(this).slideUp('slow')">
      <div id="flash-notice">
        <% if flash[:notice] %>
          <div class="center card alert blue" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>
      </div>
      <div id="flash-alert">
        <% if flash[:alert] %>
          <div class="center card alert red" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>
      </div>
    </div>

    <%= yield %>

  </div>

  <%= render "layouts/footer" %>
</body>
</html>
